#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens32 --onboot=off --ipv6=auto --no-activate
network  --hostname=CENTOS

# Root password
rootpw --iscrypted $6$tPZRFMdM9Fb688/4$JtIU5mFmu6sD6H1UHTcOIr5DfaDBE8m2l9H9qKBlOHTimZrJGPwAXi.0nPgnwwbZUk0DQ6KeXshsvJgWCMaBc0
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Shanghai --isUtc --nontp
user --name=edong --password=$6$mauMG32ci7mEiHTe$R8JZ3eoLpOxt.f.BKcCk6fht76SY1oA1ryFTuKubImPpfHJL6bUfYYRZZovawk/W.yEyahBlBDTrRb93UWHps/ --iscrypted --gecos="edong"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="ext4" --ondisk=sda --size=1024
part / --fstype="ext4" --ondisk=sda --size=19455

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
